:root {
    /* Layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */

    /* Primary */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral */
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --cool-gray: hsl(231, 11%, 63%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--magnolia);
    height: 100vh;
    font-family: 'Ubuntu';
}

input {
    width: 100%;
    padding: .7rem .5rem;
    color: var(--marine-blue);
    border: 1px solid var(--light-gray);
    border-radius: .5rem;
}

input:active, input:focus {
    border-color: var(--purplish-blue);
}

button {
    padding: .7rem 1.2rem;
    background-color: var(--marine-blue);
    color: var(--white);
    border: 1px solid var(--marine-blue);
    border-radius: .3rem;
    cursor: pointer;
    text-align: end;
}

.title {
    color: var(--marine-blue);
}

.description {
    color: var(--cool-gray);
}

.container {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: .8rem;
    height: 75%;
    min-height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

/* Sidebar  */

.sidebar {
    background-image: url(../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    padding: 2rem;
    color: var(--white);
    border-radius: .5rem;
}

.mobile-sidebar {
    display: none;
}

.steps .link-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.steps .link-item .step-number {
    width: 28px;
    height: 28px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}

.steps .link-item.active .step-number, .steps .link-item:hover .step-number {
    border-color: transparent;
    color: black;
    background-color: var(--light-blue);
}

.steps .link-item .step-title {
    letter-spacing: 3px;
}


.steps .link-item .step-title span {
    color: var(--cool-gray);
}

.steps .link-item .step-title h4 {
    font-weight: 400;
}

.steps .link-item .step-title span , .steps .link-item .step-title h4 {
    text-transform: uppercase;
}

/* Content  */

.content {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .step-form{
    margin: 2.5rem 0;
}

.content .step-form .input-box {
    margin-bottom: 1rem;
}

.content .step-form .title {
    margin-bottom: .5rem;
}

.content .step-form .failed .wrapper {
    display: flex;
    justify-content: space-between;
}

.content .step-form .failed .wrapper span {
    font-size: .8rem;
    font-weight: 700;
    color: var(--strawberry-red);
}

.content .step-form .failed input{
    border-color: var(--strawberry-red);
}

.prev-next-wrapper {
    text-align: right;
}

@media (max-width: 700px) {
    .container {
        width: 90%;
        margin-top: 4rem;
    }

    /* Sidebar  */
    .sidebar {
        display: none;
    }
    .mobile-sidebar {
        display: block;
        background: url(../images/bg-sidebar-desktop.svg) no-repeat center center fixed;
        background-size: cover;
        height: 250px;
        color: var(--white);
        position: relative;
    }
    .mobile-sidebar .steps {
        display: flex;
        gap: 15px;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
    }
}









